
/*============================
=          Global            =
============================*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}


/* Default body styles*/
body {
  height: 100%;
  color: #6d6d6d;
  font-family: $primary-font;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}


/* Set box-sizing globally to handle padding and border widths*/
*,
*:after,
*:before {
  box-sizing: inherit;
}

.container {
  @include outer-container($container-width);
  margin: auto;
  position: relative;
  @include media(max-width $container-width) {
    padding: 0 30px;
  }
  @include media(max-width 480px) {
    padding: 0 20px;
  }

}

pre {
  white-space: pre-wrap;
}

.title {
  text-align: center;
  margin-top: 1rem;
}

.section-title {
  margin: 0 25px;
  padding: 10px 0;
  display: block;
  border-bottom: 1px dashed #e5e5e5;
  text-align: center;
}

section {
  background: #81c784;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 20px 0;

  .inner-wrapper {
    padding: 25px;
  }
}

.example {
  .example-inner {
    padding: 25px;
  }
}