/*=================================
=            Variables            =
=================================*/

/*----------  fonts  ----------*/
$primary-font: 'Roboto', sans-serif !default;
$heading-font: 'Libre Franklin', sans-serif !default;

/*----------  colors  ----------*/

$primary-color: #1CAAD3 !default;
$secondary-color: #2F4550 !default;
$link-color: $primary-color !default;

$color-text: #313131 !default;

/*----------  base  ----------*/

$container-width: 1500px !default;
$base-space-unit: 1rem  !default;